/*Body intégral*/
body
{
    font-family: 'Raleway', sans-serif;
    box-sizing: border-box;
}

#bloc_page
{
    
    max-width: 1920px;
    margin: auto;
}

/*header*/
header
{
    padding: 0% 2% 1% 2%;
}

/*menu + logo*/
#menu
{
    display: inline-flex;
    justify-content: space-between;
    width: 100%;
}

/*logo*/
.imageflottante
{
    float: left;
    width: 100%;
}

/*menu*/
.navbar
{
    display: flex;
}

.bar ul
{
    display: flex;
}

.navbar li 
{
    list-style: none;
}

.navbar li a
{
    padding: 30px;
    color: black;
    display: block;
    text-decoration: none;
}

.ins
{
    font-weight: 700;
    color: #0065FC;
    text-decoration: none;
}

a.ins
{
    display: flex;
    align-items: center;
    padding: 30px;
}

.nav:hover
{
    border-top: 1px solid #0065FC; 
    color: #0065FC;
}

/*titre et paragraphe*/
h1
{
    font-size: 1.2em;
}

/*barre de recherche*/
.recherche
{
    display: flex;
    height: 50px;
    width: 100%;
}

.recherche i
{
    background-color: #f2f2f2;
    width: 15px;
    padding: 15px;
    border-radius: 20px 0px 0px 20px;
}

.search 
{
    font-weight: 700;
    font-size: 0.9em;
    font-family: 'Raleway', sans-serif;
    border: 0.5px solid #f2f2f2;
    padding-left: 1%;
}

.recherche button
{
    background-color:  #0065FC;
    color: white;
    border: none;
    padding: 0.5rem 1.5rem;
    font-weight: 700;
    font-size: 0.9em;
    border-radius: 0px 20px 20px 0px;
    font-family: 'Raleway', sans-serif;
}

/*filtres*/
.filtres-conteneur
{
    display: inline-flex;
}

#fil
{
    padding: 10px;
    font-weight: 700;
}

.filtres
{
    padding: 0px;
    display: flex;
    flex-wrap: wrap;
    margin: 0px;
}

.filtres li
{
    margin: 14px;
    display: block;
    border: 0.5px solid #F2F2F2;
    border-radius: 20px;
    font-weight: 700;
    padding-right: 15px;
}

.filtres li a
{
    text-decoration: none;
    color: black;
    
}

.filtres li i
{
    border: 0.5px solid #DEEBFF;
    border-radius: 20px;
    background-color: #DEEBFF ;
    padding: 12px;
    color: #0065FC;
}

.filtres li:hover
{
    background-color: #DEEBFF;
}

/*info*/
.info
{
    display: flex;
    margin: 0.5%;
}

.styled
{
    border-radius: 20px;
    height: 5%;
    border: 0.5px solid #DEEBFF;
    background-color: white;
    color:  #0065FC;
}

.info p
{
    padding-left: 1%;
    margin-top: 0%;
}

/*Sections*/

/*sections I*/
#bloc
{
    display: flex;
    padding: 0% 2% 1% 2%;
}

aside
{
    border-radius: 20px;
}

h2
{
    padding-left: 3%;
    font-size: 1.5em;
}

figcaption i
{
    color: #0065FC;
}

/*hebergements*/
#parent
{
    background-color: #F2F2F2 ;
    width: 70%;
    padding: 20px;
}

#parent img 
{   
    width: 230px;
    height: 125px;
    object-fit: cover;
    border-radius: 20px 20px 0px 0px;
}

#conteneur a
{
    color: black;
    text-decoration: none;
}

#conteneur
{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
}

.children
{
    border: 3px solid white;
    border-radius: 20px;
    box-shadow: 1px 1px 20px 1px grey;
    line-height: 7px;
    background-color: white;
    margin: 10px;
}

.children figcaption
{
    padding: 0px 0px 5px 10px;
}

.stars
{
    display: flex;
}

.plus
{
    font-weight: 700;
    font-size: 1.3em;
    padding-left: 3%;
    margin-bottom: 0%;
}

/*populaires*/
#parent1
{
    padding: 20px;
    width: 30%;
    margin-left: 2%;
    background-color: #F2F2F2;
}

#parent1 img 
{
    border-radius: 20px 0 0 20px;
    width: 140px;
    height: 140px;
    object-fit: cover;
}

.populaire
{
    display: flex;
    justify-content: space-between;
}

.populaire i
{
    font-size: 1.5em;
    text-align: center;
    height: auto;
}

#conteneur1
{
    display: flex;
    flex-flow: column wrap;  
}

.children1
{
    display: flex;
    border: 3px solid white;
    border-radius: 20px;
    box-shadow: 1px 1px 20px 1px grey;
    background-color: white;
    margin: 10px;
}

.children1 figcaption
{
    padding-left: 5%;
    line-height: 1;
}

.stars1
{
    display: flex;
}

/*activités*/
#activites
{
    padding: 0% 2% 1% 2%;
    display: flex;
    flex-direction: column ;
}

#conteneur2
{
    display: flex;
}

.children2
{   
    display: flex;
    flex-flow: row wrap;
    width: 100%;
}

.children2 a
{
    text-decoration: none;
    color: black;
    width: 100%;
}

.children2 figcaption
{
    font-weight: 700;
    padding: 4%;
    line-height: 2;
}

.children2 figure
{
    margin: 4%;
    border-radius: 25px;
    box-shadow: 1px 0px 15px rgba(0, 0, 0, 0.438)
}

.children2 img
{
    border-radius: 25px 25px 0px 0px;
}

.images1 
{
    width: 100%;
    height: 410px;
    object-fit: cover;
}

.images2
{
    width: 100%;
    height: 210px;
    object-fit: cover;
}

.images3
{
    width: 100%;
    height: 100px;
    object-fit: cover;
}

.images4
{
    width: 100%;
    height: 410px;
    object-fit: cover;
}

.images5
{
    width: 100%;
    height: 120px;
    object-fit: cover;
}

.images6
{
    width: 100%;
    height: 190px;
    object-fit: cover;
}

/*footer*/
#conteneur3
{
    display: flex;
    justify-content: space-between;
    padding-left: 2%;
    padding-right: 25%;
    background-color: #F2F2F2;
}

.children3
{
    padding-top: 3%;
    padding-bottom: 3%;
}

.children3 p
{
   line-height: 2;
}

/*breakpoints*/
@media (min-width: 576px) and (max-width: 1200px)
{
     /*body*/
    * 
    {
        box-sizing: border-box;
	}

    body 
    {
		width: auto;
		margin: 0;
		padding: 0;
    }

    /*Section 1*/
    #parent
    {
        width: 60%;
    }

    #parent1
    {
        width: 40%;
    }
   
    /*activités*/
    #conteneur2
    {
        display: block;
    }

    .children2
    {
        height: 100%;
    }

    .children2 img
    {
        width: 100%;
        height: 200px;
    }
    
    .children2 figcaption
    {
        padding: 2%;
    }
}


@media (min-width: 375px) and (max-width: 780px)
{
    /*body*/
    * 
    {
        box-sizing: border-box;
	}

    body 
    {
		width: auto;
		margin: 0;
		padding: 0;
	}

    /*header*/
   

    /*logo*/
    .imageflottante
    {
        position: absolute;
        top: 7%;
        width: 25%;
    }

    /*menu*/
    #menu
    {
        display: block;
        width: 100%;
    }

    .navbar
    {
        flex-direction: column-reverse;
        flex-wrap: wrap;
        
    }

    .bar
    {
        border-bottom: 3px solid #F2F2F2;
    }

    .bar ul
    {
        margin: 0px;
        width: 100%;
    }

    .bar li a:hover
    {
        border-top: none;
        
        border-bottom: 3px solid #0065FC;
    }

    .ins
    {
        float: right;
    }
    
    /*section 1*/
    #bloc
    {
        display: flex;
        flex-direction: column-reverse;
    }

    /*hebergments*/
    #conteneur a
    {
        width: 100%;
    }

    #parent
    {
        background-color: #ffffff;
        width: 100%;
    }

    #parent img
    {
        width: 100%;
        margin: 0%;
    }

    /*populaires*/
    #parent1
    {
        width: 100%;
        margin: 0%;
    }

    
    /*activités*/
    #conteneur2
    {
        display: block;
    }

    .children2
    {
        height: 100%;
    }

    .children2 img
    {
        width: 100%;
        height: 190px;
    }

    .children2 figcaption
    {
        padding: 1%;
    }

    /*footer*/
    #conteneur3
    {
        flex-direction: column;
    }

    .children3
    {
        padding: 0%;
        line-height: 1;
    }
}
